@charset "utf-8";
/* CSS Document */
*{
	background-color: rgba(98,174,150,1.00);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(6,37,112,1.00)
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
button{
    background-color: blue;
	color: white;
	padding: 15px 20px;
	border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
div {
	width:900px;
	margin:0 auto;
	
}